@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color:  #050F27;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color);
  }
}

body {
  color: var(--text-color);
  background: #fff;
}
